{
  "extends": ["eslint:recommended", "plugin:n/recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": ["n"],
  "parserOptions": { "ecmaVersion": 2020, "sourceType": "module" }
}
