**/__testfixtures__/*
coverage
docs
node_modules
test/binCases/errors/parse/index.js
test/**/bundle.js
test/**/*.bundle.js
test/**/null.js
test/**/main.js
test/**/cliEntry.js
test/**/foo.js
test/binCases/config-location/webpack-babel-config/bin/es6.js
packages/utils/validate-identifier.ts