coverage
.nyc_output
node_modules
dist
packages/*/lib
test/**/dist/
test/**/bin/
test/**/binary/
test/**/index.js
test/build/config/error-commonjs/syntax-error.js
test/build/config/error-mjs/syntax-error.mjs
test/build/config/error-array/webpack.config.js
test/configtest/with-config-path/syntax-error.config.js
