__testfixtures__
coverage
node_modules
packages/**/lib
test/**/dist/
test/**/bin/
test/**/binary/
test/**/index.js
test/typescript/webpack.config.ts
test/config/error-commonjs/syntax-error.js
test/config/error-mjs/syntax-error.mjs
test/config/error-array/webpack.config.js
test/configtest/syntax-error.config.js
