# IDE folders
.idea
.vscode

# Vim swap files
.s[a-z][a-z]
.*.s[a-z][a-z]

# Mac OS X Finder
.DS_Store

# Node dependencies
node_modules

# npm-debug log
npm-debug.*

# yarn log
yarn-error.log

# Jest Coverage
coverage
.nyc_output

# Test Compilation
test/js/*
test/binCases/**/bin/
test/binCases/**/**/bin/
# lerna log
lerna-debug.log

# Yeoman file
.yo-rc.json

# Yarn lock file
yarn.lock

# source maps of docs
docs/**/*.map
junit.xml

#typescript source maps
packages/**/*.map
