test
coverage
lib
.travis.yml
.eslintrc*
.fitcommitjsrc.json
.vscode
.editorconfig
.eslintignore
__testfixtures__
*.test.js
*.input.js
types.js
*.spec.js
docs
jsdoc.json
.codecov.yml
*.snap
open-bot.yml
.nyc_output
git_deploy_key.enc
*.md
