{
  "all": true,
  "extension": [".ts", ".js"],
  "include": ["packages/*/src/**/*.ts", "packages/*/lib/**/*.js"],
  "require": ["source-map-support/register"],
  "reporter": ["text", "html", "lcov"],
  "sourceMap": true,
  "clean": false,
  "hook-require": false,
  "exclude-after-remap": false
}
