coverage
node_modules
test/**/dist/
test/**/bin/
test/**/binary/
test/**/index.js
test/config/error-commonjs/syntax-error.js
test/config/error-mjs/syntax-error.mjs
packages/webpack-cli/__tests__/test-assets/.yo-rc.json
test/build-errors/stats.json
