sudo: false
notifications:
    email: false
language: node_js
node_js:
    - "12"
    - "10"

matrix:
    include:
        - os: linux
          node_js: "12"
          env: JOB_PART=lint
        - os: linux
          node_js: "12"
          env: JOB_PART=integration
        - os: linux
          node_js: "10"
          env: JOB_PART=integration

before_install:
    - npm install -g yarn@latest

install:
    - travis_wait yarn
    - lerna bootstrap
    - yarn global add codecov
    - yarn global add eslint
script:
    - yarn travis:lint
    - yarn test:ci

