name: Node CI

on:
  push:
    branches:
    - next
  pull_request:
    branches:
    - next

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]
        webpack-version: [latest, next]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, bootstrap
      run: |
        npm install
        npm run bootstrap
    - name: Use webpack ${{ matrix.webpack-version }}
      run: npm install --save ${{ matrix.webpack-version }}
    - name: smoketest
      run: |
        npm run build --if-present
        npm run smoketest
      env:
        CI: true
