name: Node CI

on:
  push:
    branches:
    - next
  pull_request:
    branches:
    - next

jobs:
  build:

    runs-on: ubuntu-latest
  
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build, and test
      run: |
        npm install
        npm run bootstrap
        npm run build --if-present
        npm smoketest
      env:
        CI: true
